<table>
    <tr>
      <td>Code</td>
      <td>
        <input readonly [value]="product.id" type="text">
      </td>
    </tr>
    <tr>
      <td>Name</td>
      <td>
        <input readonly [value]="product.name"  type="text">
      </td>
    </tr>
    <tr>
      <td>price</td>
      <td>
        <input readonly [value]="product.price"  type="text">
      </td>
    </tr>
    <tr>
      <td>description</td>
      <td>
        <input readonly [value]="product.description"  type="text">
      </td>
    </tr>
  </table>

